django
inflect
titlecase
faker
python-dateutil
requests
requests_cache
tqdm
requests_html
psycopg2-binary
dj_database_url
pytest
pytest-django
pytest-pythonpath
testing.postgresql
black
isort
requests_mock